@charset "UTF-8";

/* Base Styling */
html {
}

body {
  margin: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 3vh;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-family: 'DM Mono', monospace;
	font-weight: 500;
	font-size: 3vh;
  margin: 0;

}

h3 {
  font-family: 'DM Mono', monospace;
	font-weight: 500;
	font-size: 2vh;
  margin: 0
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #636466;
}

p {
  font-family: 'Monserrat', sans-serif;
	font-weight: 700;
  font-size: 16px;
  color: #7a7a7a;
}

a {
	text-decoration: none;	color: black;
}

.hide {
  visibility: hidden;
}

header {
  background: #C0E6F1;
}

.container {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  background: #C0E6F1;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(20px 30px 20px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}

.logo {
  padding-top: 30px;
  margin-bottom: 30px;
  justify-self: center;
  height: 25vw;
}

.objective {
  justify-self: center;
  height: 25vw;
  width: auto;
  margin-bottom: 30px;
}

.insight {
  justify-self: center;
  height: 40vw;
  width: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tag {
  justify-self: center;
  height: 25vw;
  width: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.responsive-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  justify-self: center;
}

.responsive-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;

}

/* Credits Styling */

.credits-container {
  width: auto;
  height: auto;
  display: grid;
  justify-content: center;
  margin-top: 4vw;
  margin-bottom: 6vw;
}

.team {
  grid-area: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 10px;
}

.credits {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 250px;
}

.credits h1 {
  height: 500px;
}

.partner-name {
  grid-column: 1 / span 3;
  grid-row: 2;
  filter: drop-shadow(20px 30px 20px rgba(0, 0, 0, 0.25));
}

.partner-pic {
  background: url("assets/brad.jpg");
  background-size: cover;
  background-position: top center;
  grid-column: 1 / span 2;
  grid-row: 3 / span 3;
}

.team-and {
  grid-column: 3 / 4;
  grid-row: 3;
  z-index: 2;
  text-align: top;
  transform: translate(0,-2vw);
}

.josh-name {
  grid-column: 3 / span 3;
  grid-row: 3;
  text-align: right;
}
.josh-pic {
  background: url("../../assets/josh.jpeg");
  background-size: cover;
  background-position: center center;
  grid-column: 3 / span 3;
  grid-row: 4 / span 3;
}

.cd-name {
  grid-column: 1 / span 4;
  grid-row: 7;
  text-align: right;
}
