@charset "UTF-8";

/* Work Page Styling */

html {
	padding: 20px;
}

h1 {
  font-family: 'DM Mono', monospace;
	font-weight: 500;
}

h2 {
  font-family: 'DM Mono', monospace;
	font-weight: 500;
	font-size: 3vh;

}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #636466;
}

p {
  font-family: 'Monserrat', sans-serif;
	font-weight: 700;
  font-size: 16px;
  color: #7a7a7a;
}

a {
	text-decoration: none;	color: black;
}

.container {
		height: 85vh;
		margin-bottom: 20px;

		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
		justify-content: space-between;
		align-content: space-around;
}


.card {
	padding: 5px;
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
	border-radius: 15px;
	height: 30vh;
}

.iceberg {
	background-image: url("titles/iceberg-title.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.benjerry {
	background-image: url("titles/benjerry-title.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
	display: grid;
	justify-items: center;
	grid-column: 1 / -1;
}
